html {
    border: 8px solid black;
    margin: 0;
}

header {
    height: 100%;
}
.contact-details{
    float: right;
    position: relative;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%
}

td {
    padding: 2vh 5vw;
    border-bottom: 1px solid #bfbdbd;
}

.divider{
    width: 100vw;
    height: 1px;
    border: none;
    background-color: #d5b79a;
}

.key-point{
    color: #d5b79a;
}